################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DecisionTree/bin/Debug/net6.0
/DecisionTree/obj
/DecisionTree/DecisionTree.csproj.user
/DecisionTree/bin/Debug/net7.0
